@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
:root{
  --background-color: #16FFBD;
  --primary-color: #000;
  --highlight-color: #FF8DAC;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-image: linear-gradient(to bottom, #ff8dac, #f18fc1, #de95d2, #c69bdf, #aba1e6, #96acf0, #80b6f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  width: 100%;
  height: auto;
}
ul{
  list-style: none;
}
a {
  text-decoration: none;
}
/* Encabezado */
header {
  margin-top: -150px;
  width: 100%;
  height: auto;
  border-radius: 3px;
  background: rgba( 205, 192, 192, 0.35 );
  box-shadow: 0 5px 25px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  position: fixed;
  z-index: 2;
  padding: 10px 0;
}
header .img {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  position: relative;
}
header .img a img {
  width: 80px;
  animation: opening-logo 1.6s ease-in-out 500ms;
}
header .img .menu {
  font-size: 25px;
  position: absolute;
  right: 30px;
  bottom: calc(50% - 15px);
  margin: auto;
  cursor: pointer;
  color: black;
  transition: all 2s ease-in-out;
}
header .nav {
  display: none;
}
header .nav.show {
  display: block;
}
header nav ul{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav ul li:first-child {
  margin-top: 20px;
}
header nav ul li {
  margin-bottom: 25px;
}
header nav ul li a {
  color: var(--primary-color);
  font-weight: 300;
  padding: 5px;
  border-radius: 3px;
  background: rgba( 205, 192, 192, 0.35 );
  box-shadow: 0 5px 25px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
header nav ul li:hover a {
  color: var(--highlight-color);
}
/* Contenido Principal */
/* Video */
.main-video {
  margin: 150px 0;
  transform-origin: 0 0;
  transform: skewY(-10deg);
  overflow: hidden;
}
.main-video .video {
  overflow: hidden;
  transform: skewY(10deg) scale(1.4, 1.4);
}
.main-video .video video {
  width: 100%;
  height: 100%;
}
/* Intro */
.intro {
  text-align: center;
  width: 100%;
  padding: 0 10px;
  line-height: 30px;
  margin-bottom: 150px;
}
.intro h2 {
  margin-bottom: 20px;
}
/* Worck */
section > h2 {
  text-align: center;
}
.work {
  padding-top: 100px;
  transform-origin: 0 0;
  transform: skewY(-10deg);
  overflow: hidden;
}
.grid {
  display: grid;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fill, minmax( 320px, 1fr));
  margin: 0 auto;
}
.grid .item {
  height: 300px;
  position: relative;
  overflow: hidden;
}
.grid .item img {
  height: 300px;
  transition: all 0.5s ease-in-out;
  object-fit: cover;
  z-index: -1;
}
.grid .item:hover img,
.grid .item:hover .title,
.grid .item:hover .customer {
  transform: scale(1.2);
}
.grid .item .bg-hover {
  background-color: rgba( 0, 0, 0, 0.5 );
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  z-index: 1;
  top: 0;
  display: grid;
  place-items: center;
}
.grid .item:hover .info{
  animation: bounce 0.5s ease-in-out;
}
.grid .item .bg-hover .title {
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}
.grid .item .bg-hover .customer {
  color: var(--background-color);
  font-weight: 500;
}
/* Sobre */
.about {
  width: 50%;
  text-align: center;
  padding: 100px 0;
  margin: 0 auto;
}
.about h2,
.about p {
  margin-bottom: 20px;
}
.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
/* Pie de pagina */
footer {
  width: 100%;
  height: auto;
  display: grid;
  text-align: center;
  background: rgba( 205, 192, 192, 0.35 );
  box-shadow: 0 5px 25px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  transform: skewY(-10deg);
  margin-bottom: 150px;
  padding: 50px 0 150px;
}
.footer__container {
  width: 90%;
  height: 100%;
  margin: 50px auto;
  transform: skewY(10deg);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  gap: 20px;
  justify-content: center;
}
footer .cards {
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: rgba( 205, 192, 192, 0.35 );
  box-shadow: 0 5px 20px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  line-height: 30px;
}
footer .cards p {
  font-size: 14px;
  font-weight: 500;
}
footer h2,
footer .cards p,
footer .cards i {
  color: var(--highlight-color);
}
footer > h2 {
  transform: skewY(10deg);
}
footer .cards h3 {
  font-size: 16px;
  font-weight: 700;
  color: white;
}
footer .cards div i {
  font-size: 30px;
  margin: 10px;
  transition: transform 500ms ease-in-out;
}
footer .cards div i:hover {
  transform: rotateY(45deg);
}

#screen {
  background-color: var(--background-color);
  z-index: 100;
  position: fixed;
  top: -280px;
  left: 0;
  width: 100vw;
  transform: skewY(-10deg);
  transition: all .5s ease-in-out;
  animation: 2s linear;
}
#details-container {
  background: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: auto;
  display: none;
}
#details-container .nav__bar {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  font-size: 30px;
}
#details-container .nav__bar i {
  color: var(--highlight-color);
}
.nav__bar .nav__buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.item-hide {
  display: none;
}
#details-container .items {
  width: 80%;
  margin: 0 auto;
}
#details-container .items .item .main-image img {
  width: 100%;
}
#details-container .items .item .main-image {
  text-align: center;
}
@keyframes opening-logo {
  0% { transform: scale(0) }
  100% { transform: scale(1); }
}
@keyframes bounce {
  0%{ transform: translateY(500px); }
  80%{ transform: translateY(-30px); }
  100%{ transform: translateY(0px); }
}
@keyframes fade-in  {
  0% { height: 0vh; }
  50% { height: 150vh; }
  100% { height: 0vh; }
}
@media (min-width: 450px) {
  header nav ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
  }
  header nav ul li:first-child {
    margin-top: 0;
  }
}
@media (min-width: 720px) {
  .grid .item .bg-hover {
    opacity: 0;
  }
  .grid .item:hover .bg-hover {
    opacity: 1;
  }
  section > h2 {
    margin-bottom: 70px;
  }
  .columns {
    flex-direction: row;
  }
}